# Terraform State
*.tfstate
*.tfstate.*

# Crash Log Files
crash.log

# Exclude .terraform directory
.terraform/
.terraform.lock.hcl

# Sensitive files
*.tfvars
*.tfvars.*
credentials
*_secrets

# Ignore backup files
*.bak
*.backup

# Test files
lambda-function-test.py